@inherits LayoutComponentBase

<div class="top-bar">
    <a class="logo" href="#">
        <img src="images/logo.png" alt="" />
    </a>
    <NavLink href="" class="nav-tab" Match="NavLinkMatch.All">
        <img src="images/drink_slider.png" alt="" />
        <div>Elegir Drink</div>
    </NavLink>     
</div>


<div class="content">
    @Body
</div>