@page "/"


<div class="main">
    <ul class="drink-cards">
        @if (Specials != null)
        {
            foreach (var Special in Specials)
            {
                <li @onclick="() => ShowConfigureDrinkDialog(Special)"
                    style="background-image:url('@Special.ImageUrl')">
                    <div class="drink-info">
                        <span class="title">@Special.Nombre</span>
                        @Special.Descripcion
                        <span class="price">
                            @Special.GetFormattedPrecioBase()
                        </span>
                    </div>
                </li>
            }

        }
    </ul>
</div>